.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar__left {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.navbar__leftIcon {
  color: gray;
}

.navbar__logo {
  height: 30px;
  margin-left: 10px;
}

.navbar__middle {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid lightgray;
}

.navbar__middle > input {
  flex: 1;
  border: none;
}

.navbar__inputIcon {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.navbar__rightIcon {
  margin-right: 8px;
}
